<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %>></title>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <main>
      <section>
        <div class="container">
          <div class="page-header">
            <h1><%= title %></h1>
            <p>Browse all the categories we have to offer.</p>
            <div class="btns-container">
              <a href="/categories/new" class="btn-link orange">Add category</a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <% if (categories) { %>
          <ul class="grid">
            <% categories.map(category => { %>
            <li class="grid-card category">
              <div class="card-image">
                <img src="<%= category.image %>" alt="<%= category.name %>" />
              </div>
              <h3><%= category.name %></h3>
              <p><%= category?.description %></p>
              <a href="/categories/<%= category.id %>" class="btn-link orange"
                >View</a
              >
            </li>
            <% })%>
          </ul>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
