<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />    
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <main>
      <section>
        <div class="container">
          <form action="/items/<%= locals.item ? `${item.id}/update` : 'new' %>" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="row">
              <div class="column">
                <h1><%= title %></h1>
                <%- include("./partials/formErrors.ejs") %>
                <div class="form-inputs-container">
                  <input type="text" name="name" id="name" placeholder="Name" value="<%= locals.item?.name || '' %>"/>
                  <textarea type="text" name="description"
                  id="description" placeholder="Description"><%= locals.item?.description || '' %></textarea> 
                  <input type="text" name="price" placeholder="Price" value="<%= locals.item?.price || '' %>"/>      
                  <% if (categories) { %>
                    <select name="category_id" id="category_id" onchange="this.style.color = '#0a0a0a';">
                      <option selected disabled value="">--Category--</option>
                      <% categories.map(category => { %>
                      <option <%= locals.item?.category_id === category.id ? "selected" : "" %> value="<%= category.id %>"><%= category.name %></option>
                      <% })%>
                    </select>
                  <% } %>
                  <button type="submit" class="btn orange"><%= locals.item ? "Done" : "Create" %></button>
                  </div>
              </div>
              <div class="column">
                <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png" style="display: none;">
                  <% if (locals.item) { %>
                  <div
                class="item-image"
                id="item-image"
                style="background-image: url('<%= locals.item.image %>')"
              >
                <label for="image" class="upload-image-label" id="upload-image-label">
                  <div class="item-image-link-text btn-link blue" id="upload-image-btn">
                    Change Image
                  </div>
                  <div class="item-image-success-msg" id="item-image-success-msg" style="display: none;">
                    <span>Image Uploaded!</span>
                    <img src="/icons/check-circle.svg" alt="Check circle">
                  </div>
                </label>
              </div>
              <% } else { %>
                  <label for="image" class="upload-image-label" id="upload-image-label">
                    <div class="btn-link blue" id="upload-image-btn">
                      Upload Image
                    </div>
                    <div class="item-image-success-msg" id="item-image-success-msg" style="display: none;"> 
                      <img src="/icons/check-circle.svg" alt="Check circle">
                    </div>
                  </label>
                <% } %>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
  <script>
    const imageInput = document.getElementById('image');
    const imageLabel = document.getElementById('upload-image-label');
    const successMsg = document.getElementById('item-image-success-msg');
    const btn = document.getElementById('upload-image-btn');
    imageInput.addEventListener('change', () => {
      if (imageInput.files.length > 0) {
        const fileName = imageInput.files[0].name;
        imageLabel.classList.add('success');
        successMsg.textContent = `${fileName} uploaded!`
        successMsg.style.display = 'flex';
        btn.style.display = 'none';
      }
    });
  </script>
</html>
