<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <main>
      <section class="page-header-section">
        <div class="container">
          <div class="row">
            <div class="column">
              <h1><%= title %></h1>
              <% if (category) { %>
              <p><% category.description %></p>
              <% } else { %>
              <p>Explore all items in our inventory!</p>
              <%} %>
            </div>
            <div class="column">
              <div class="btns-container">
                <% if (category) { %>
                <a
                  href="/categories/<%= category.id %>/update"
                  class="icon-link"
                >
                  <img src="/icons/edit.svg" alt="trash icon" />
                </a>
                <form
                  action="/categories/<%= category.id %>/delete"
                  method="POST"
                >
                  <button type="submit" class="icon-btn">
                    <img src="/icons/trash.svg" alt="trash icon" />
                  </button>
                </form>
                <% } %> <% if (items) { %>
                <a href="/items/new" class="btn-link orange">Add item</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <% if (items) { %>
          <ul class="grid">
            <% items.map(item => { %>
            <li class="grid-card item">
              <div class="card-image">
                <img src="<%= item.image %>" alt="<%= item.name %>" />
              </div>
              <h3><%= item.name %></h3>
              <span class="price">$<%= item.price %></span>
              <a href="/items/<%= item.id %>" class="btn-link orange">View</a>
            </li>
            <% })%>
          </ul>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
