<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/lego.png" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= item.name %></title>
  </head>
  <body>
    <%-include('./partials/header.ejs') %>
    <main>
      <section>
        <div class="container">
          <div class="row">
            <div class="column">
              <h1><%= item.name %></h1>
              <span class="price">$<%= item.price %></span>
              <p><%= item.description%></p>
              <div class="btns-container">
                <a href="/items/<%= item.id %>/update" class="icon-link">
                  <img src="/icons/edit.svg" alt="edit icon" />
                </a>
                <form action="/items/<%= item.id %>/delete" method="POST">
                  <button type="submit" class="icon-btn">
                    <img src="/icons/trash.svg" alt="trash icon" />
                  </button>
                </form>
              </div>
            </div>
            <div class="column">
              <% if (item.image) { %>
              <div
                class="item-image"
                style="background-image: url('<%= item.image %>')"
              ></div>
              <% } %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
